{% extends 'base.html' %}

{% block header %}
  <div style="display: inline-flex; align-items: center; justify-content: space-between; width: 10000px;">
    <h1>Songs</h1>
    <a href="{{ url_for('recommender.recommender') }}" class="btn btn-primary">Song Recommender</a>
  </div>
{% endblock %}


{% block content %}
  <div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Artist</th>
          <th>Album</th>
          <th>Energy</th>
          <th>Danceability</th>
          <th>Release Date</th>
        </tr>
      </thead>
      <tbody>
        {% for song in songs %}
        <tr>
          <td>
          {% if g.user %}
            <a class="action" href="{{ url_for('song.review', song_id=song['song_id']) }}">{{ song['song_name'] }}</a>
          {% else %}
            {{ song['song_name'] }}
          {% endif %}
          </td>
          <td>{{ song['artist_name'] }}</td>
          <td>{{ song['album_name'] }}</td>
          <td>{{ "%.2f" % (song['energy'] * 100) }}%</td>
          <td>{{"%.2f" % (song['danceability'] * 100) }}%</td>
          <td>{{ song['release_date']}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <br>
  <div>
  <em>{{ remaining_num['num'] }} songs skipped ...</em>
  </div>
{% endblock %}
