{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Reviews{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for review in reviews %}
    <article class="post">
      <p class="body">{{ review['rating'] }}/5, {{ review['comment'] }}</p>
      {% if g.user['user_name'] == review['user_name'] %}
      <form method="post">
        <input type="submit" value="Delete">
        <input type='hidden' id='action' name="action" value="delete">
      </form>    
      {% endif %}
      <div class="about">by {{ review['user_name'] }} on {{ review['date_made']}} </div>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  <h3>Review Song</h3>
  <form method="post">
    <label for="rating">Rating (1-5)</label>
    <input type="number" min = 1 max = 5 name="rating" id="rating" value="{{ request.form['rating'] }}" required>
    <label for="comment">Comment</label>
    <textarea name="comment" id="comment">{{ request.form['comment'] }}</textarea>
    <input type="submit" value="Save">
    <input type='hidden' id='action' name='action' value='newOrUpdate'>
  </form>
{% endblock %}