{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Recommended Songs{% endblock %}</h1>
{% endblock %}

{% block content %}
  <style>
    .left-align {
        text-align: left;
    }
  </style>

  <div class="left-align">
    <a href="{{ url_for('song.list_songs') }}" class="btn btn-primary">Go back to Home</a>
  </div>

  <div>
    <table>
      <thead>
        <tr>
            <th>Name</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Energy</th>
            <th>Danceability</th>
            <th>Release Date</th>
            <th>Remove</th> <!-- Add the new column header for the heart icon button -->
        </tr>
    </thead>
    <tbody>
        {% for song in songs %}
        <tr>
            <td>
            {% if g.user %}
              <a class="action" href="{{ url_for('song.review', song_id=song['song_id']) }}">{{ song['song_name'] }}</a>
            {% else %}
              {{ song['song_name'] }}
            {% endif %}
            </td>
            <td>{{ song['artist_name'] }}</td>
            <td>{{ song['album_name'] }}</td>
            <td>{{ "%.2f" % (song['energy'] * 100) }}%</td>
            <td>{{"%.2f" % (song['danceability'] * 100) }}%</td>
            <td>{{ song['release_date'] }}</td>
            <td>
                <!-- Add the heart icon button inside a form -->
                <form action="{{ url_for('likedPlaylist.deleteFromLikes') }}" method="post">
                    <input type="hidden" name="song_id" value="{{ song['song_id'] }}">
                    <input type="hidden" name="song_name" value="{{ song['song_name'] }}">
                    <input type="hidden" name="artist_name" value="{{ song['artist_name'] }}">
                    <input type="hidden" name="album_name" value="{{ song['album_name'] }}">

                    <button type="submit" class="remove-btn">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="green" stroke="lightgreen" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                          <path d="M18 6L6 18M6 6l12 12"></path>
                      </svg>
                  </button>
                </form>
            </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <br>
{% endblock %}